---
layout: default
permalink: /home-automation/
title: Home Automation
services: Home Automation, Smart Thermostats, Voice Control, Security Systems
meta_description: Transform your home into a smart home with our home automation solutions in Salt Lake City. Contact Home Theater Salt Lake City for a free consultation.

resource: true
categories: [services]
main-image: drywall-handyman.jpeg
---

<div class="py-vh-3 w-100 overflow-hidden bg-gray-900 text-light">
  <div class="container">
    <div class="row d-flex">
      <div class="col-lg-7">
        <h2 class="display-6">Home Automation Salt Lake City UT</h2>
        <p>
          Welcome to Home Theater Salt Lake City, your go-to source for all things home automation! Home automation is the future of smart homes. It will provide you with greater control over your home's technology. You can simplify your life and enhance your comfort and convenience.
        </p>
        <p>
          Home automation allows you to control your home's appliances and devices from a single central location. Your smartphone, Amazon Alexa or Google Nest devices are great for this. Automate tasks, such as turning on and off lights, adjusting the temperature, locking and unlocking doors, and controlling your home theater system.
        </p>
      </div>
      <!-- col-lg-5 FORM-->
      {% include form.html %}
    </div>
  </div>
</div>

<!-- Section 1 -->
<div class="py-vh-3 bg-gray-100 w-100 overflow-hidden">
  <div class="container">
    <div class="row d-flex justify-content-between align-items-center">
      <div class="col-lg-6">
        <div class="row gx-5 d-flex">
          <div class="col-md-11">
            <img src="../img/plumbing-sink.jpeg" class="shadow" width="100%"
              alt="A women sitting on the flooring fixing a kitchen sink." />
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <h2 class="py-3">Smart lighting</h2>
        <p>Smart lighting gives you the convenience of controlling your lights even when you are not home. This will help with the efficiency and security of you your home.</p>
      </div>
    </div>
  </div>
</div>

<!-- Section -->
<div class="py-vh-3 w-100 overflow-hidden bg-gray-900 text-light">
  <div class="container">
    <div class="row d-flex justify-content-between align-items-center">
      <div class="col-lg-6">
        <h2 class="py-3">Smart thermostats</h2>
        <p>This device allows you to control the temperature of your house from anywhere. By changing the temperature, you may make your house more comfortable when you enter. Homeowners can save money as a result of this.</p>
      </div>
      <div class="col-lg-6">
        <div class="row gx-5 d-flex">
          <div class="col-md-11">
            <img src="../img/cabinetry-install.jpeg" class="shadow" width="100%"
              alt="A man holding a drill while installing some kitchen cabinets." />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Section -->
<div class="py-vh-3 w-100 bg-gray-100 overflow-hidden">
  <div class="container">
    <div class="row d-flex justify-content-between align-items-center">
      <div class="col-lg-6">
        <div class="row gx-5 d-flex">
          <div class="col-md-11">
            <img src="../img/handyman-home-improvement.jpeg" class="shadow" width="100%"
              alt="A man standing in front of a concept drawing of a bathroom." />
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <h2 class="py-3">Voice control</h2>
        <p>Control your home with the power of your voice. This easy and hands-free option can help you perform many actions.</p>
      </div>
    </div>
  </div>
</div>

<!-- Section -->
<div class="py-vh-3 w-100 overflow-hidden bg-gray-900 text-light">
  <div class="container">
    <div class="row d-flex justify-content-between align-items-center">
      <div class="col-lg-6">
        <h2 class="py-3">Smart security systems</h2>
        <p>Smart security systems let you keep an eye on the security of your house from anywhere, providing you comfort while you're away.</p>
      </div>
      <div class="col-lg-6">
        <div class="row gx-5 d-flex">
          <div class="col-md-11">
            <img src="../img/cabinetry-install.jpeg" class="shadow" width="100%"
              alt="A man holding a drill while installing some kitchen cabinets." />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Section -->
<div class="py-vh-3 w-100 bg-gray-100 overflow-hidden">
  <div class="container">
    <div class="row d-flex justify-content-between align-items-center">
      <div class="col-lg-6">
        <div class="row gx-5 d-flex">
          <div class="col-md-11">
            <img src="../img/handyman-home-improvement.jpeg" class="shadow" width="100%"
              alt="A man standing in front of a concept drawing of a bathroom." />
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <h2 class="py-3">Smart locks</h2>
        <p>With smart locks, you can lock and unlock your doors remotely. You can allow guests or service providers into your home without having to be present.</p>
      </div>
    </div>
  </div>
</div>

<!-- Section -->
<div class="py-vh-3 w-100 overflow-hidden bg-gray-900 text-light">
  <div class="container">
    <div class="row d-flex justify-content-between align-items-center">
      <div class="col-lg-6">
        <h2 class="py-3">Entertainment control</h2>
        <p>You can link your home theater system to your home automation setup, enabling you to manage everything with the press of a button.</p>
      </div>
      <div class="col-lg-6">
        <div class="row gx-5 d-flex">
          <div class="col-md-11">
            <img src="../img/cabinetry-install.jpeg" class="shadow" width="100%"
              alt="A man holding a drill while installing some kitchen cabinets." />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Section -->
<div class="py-vh-3 w-100 bg-gray-100 overflow-hidden">
  <div class="container">
    <div class="row d-flex justify-content-between align-items-center">
      <div class="col-lg-6">
        <div class="row gx-5 d-flex">
          <div class="col-md-11">
            <img src="../img/handyman-home-improvement.jpeg" class="shadow" width="100%"
              alt="A man standing in front of a concept drawing of a bathroom." />
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <h2 class="py-3">Automated blinds and shades</h2>
        <p>Automated blinds and shades allow you to control the amount of natural light that enters your home. This will maximize your comfort and energy efficiency.</p>
      </div>
    </div>
  </div>
</div>

<!-- Section -->
<div class="py-vh-3 w-100 overflow-hidden bg-gray-900 text-light">
  <div class="container">
    <div class="row d-flex justify-content-between align-items-center">
      <div class="col-lg-6">
        <h2 class="py-3">Smart appliances</h2>
        <p>Now refrigerators, ovens washers, and dryers can be controlled remotely. This can give you peace of mind that your home will be safe and the funeral potatoes won't burn. </p>
      </div>
      <div class="col-lg-6">
        <div class="row gx-5 d-flex">
          <div class="col-md-11">
            <img src="../img/cabinetry-install.jpeg" class="shadow" width="100%"
              alt="A man holding a drill while installing some kitchen cabinets." />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Section -->
<div class="py-vh-3 w-100 bg-gray-100 overflow-hidden">
  <div class="container">
    <div class="row d-flex justify-content-between align-items-center">
      <div class="col-lg-6">
        <div class="row gx-5 d-flex">
          <div class="col-md-11">
            <img src="../img/handyman-home-improvement.jpeg" class="shadow" width="100%"
              alt="A man standing in front of a concept drawing of a bathroom." />
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <h2 class="py-3">Personalization</h2>
        <p>All these home automation options can make a personalized home experience just for you. You can know who is home or turn lights on and off when you need them. If a room is not occupied, you can save by turning the lights off or changing the thermostat temperature.</p>
      </div>
    </div>
  </div>
</div>

<!-- Section -->
<div class="py-vh-2 w-100 overflow-hidden bg-gray-900 text-light">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-lg-8">
        <p>We specialize in custom home automation solutions at Home Theater Salt Lake City. Our experienced staff has the knowledge and ability to suggest the appropriate equipment for your area. We can assist you in installing it, assuring the greatest performance and easy integration.</p>
      </div>
    </div>
  </div>
</div>
{% include cta.html %}