---
layout: default
permalink: /services/
title: Services
meta_description: Unlock the magic of cinema at home with our top-notch home theater services. From professional installation to cutting-edge audio and video solutions, we bring the ultimate cinematic experience to your living room in Salt Lake City UT. Elevate your entertainment with our expert team.

main-image: home-theater-custom.jpeg
---

<div class="py-vh-3 w-100 overflow-hidden bg-gray-900 text-light">
  <div class="container">
    <div class="row d-flex ">
      <div class="col-lg-7">
        <h2 class="display-6">
          Home Theater Services
        </h2>
        {% for cat in site.category-list %}
        <ul class="list-unstyled">
          {% for page in site.pages %}
          {% if page.resource == true %}
          {% for pc in page.categories %}
          {% if pc == cat %}
          <li class="py-2">
            <a href="{{ page.url }}" class="link-fancy text-light">{{ page.title }}</a>
          </li>
          {% endif %}
          {% endfor %}
          {% endif %}
          {% endfor %}
        </ul>
        {% endfor %}
      </div>
      <!-- col-lg-5 FORM-->
      {% include form.html %}
    </div>
  </div>
</div>